body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-zero-width-trigger {
  top: 12px;
}

.ant-layout-header {
  display: flex;
}

.header-right {
  margin-left: auto;
}


.fa:before,
.fab:before,
.fal:before,
.far:before,
.fas:before {
  font-family: inherit !important;
}