@import "./all.css";
@import "./antd.css";
@import "./slick.css";
@import "./slick-theme.css";

body {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.ant-layout-sider-zero-width-trigger {
  top: 12px;
}

.header-inner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header-right {
  margin-left: auto;
}


.fa:before,
.fab:before,
.fal:before,
.far:before,
.fas:before {
  font-family: inherit !important;
}

.login-form-button {
  width: 100%;
}

.login-form {
  max-width: 320px;
  margin: 0 auto;
}

.twitch-button {
  width: 100%;
  background-color: #4b367c;
  border-color: #4b367c;
}
.twitch-button:hover,
.twitch-button:focus {
  background-color: #7d5bbe;
  border-color: #7d5bbe;
}
.twitch-button.ant-btn-clicked:after {
  border-color: #7d5bbe;
}

.logo {
  padding: 16px 16px 15px 38px;
  position: relative;
  white-space: nowrap;
}

.logo-text {
  color: white;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

.logo-text > span {
  font-size: 16px;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 20px;
  text-shadow: 0 0 12px;
  z-index: 1;
}

.logo > i {
  position: absolute;
  margin-top: -29px;
  margin-left: 78px;
  font-size: 32px;
  color: #1890ff;
  
  text-shadow: 0 0 30px #1890ff, 
              0 0 10px rgba(24, 144, 255, 0.41),
              0 0 100px #85add1,
              0 0 500px #1890ff,
              4px 6px 5px rgba(0, 0, 0, 0.5);
}

.logo.off > i {
  color: rgba(66, 66, 66, 0.61);
  text-shadow: 4px 6px 5px rgba(34, 34, 34, 0.5);
}

.logo.off > .logo-text > span {
  color: gray;
  text-shadow: 0 0 2px;
}

.sideuser-wrapper {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(24, 144, 255, 0.2);
}

.sideuser-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 0 3px #e6f7ff;
  background-color: rgba(230, 247, 255, 0.15);
}

.sideuser-name {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  margin: 16px 0 0;
  color: white;
}

.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
}

.ant-layout {
  min-width: 320px;
}

.ant-layout-has-sider {
  overflow: hidden;
}

.ant-back-top {
  right: auto;
  left: 75px;
}

.full-promo {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.05);
  margin-bottom: 32px;
}

.full-promo-background {
  width: calc(100% + 120px);
  height: calc(100% + 120px);
  background-size: cover;
  background-position: center;
  filter: blur(14px) brightness(0.8);
  margin-left: -60px;
  margin-top: -60px;
}

.full-promo-foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 34px 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-promo-heading {
  color: #fff;
  font-size: 32px;
}

.full-promo-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.full-promo-info {
  font-weight: 500;
}

.full-promo-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
}

.full-promo-game {
  font-size: 16px;
  display: flex;
  align-items: baseline;
}

.full-promo-game:not(:last-child) {
  margin-right: 24px;
}

.full-promo-game > i {
  margin-right: 12px;
  font-size: 18px;
}

.full-promo-inner {
  margin-top: -18px;
}

.frame {
  margin-bottom: 32px;
}

.frame-title {
  font-weight: 600;
  font-size: 1.8em;
  letter-spacing: 0.3px;
}

.frame-slider {
  margin: -4px;
}

.frame-slider-item {
  margin: 4px;
}

.frame-slider-item .ant-card-cover {
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center-modal .ant-modal {
  top: 0;
}

.twitch-embed .ant-modal-body {
  padding: 0;
}

.twitch-embed .ant-modal-footer {
  display: none;
}

.twitch-embed .embed-responsive {
  border-radius: 0 0 4px 4px;
  background: #000;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 1;
}

.embed-responsive-item.phantom-item {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.events {
  list-style: none;
  padding: 32px 12px 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}

.ant-fullcalendar-fullscreen .ant-fullcalendar-month,
.ant-fullcalendar-fullscreen .ant-fullcalendar-date {
  padding: 4px;
  margin: 2px;
}

.simple-schedule .ant-fullcalendar-header .ant-radio-group {
  display: none;
}

.event-shedule {
  background: #f5f5f5;
  padding: 16px;
  border-radius: 4px;
}

.event-day {
  background: #f0ffe9;
}

.event-evening {
  background: #fff8e9;
}

.event-shedule:not(:last-child) {
  margin-bottom: 12px;
}

.event-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.event-simple .ant-modal-footer {
  display: none;
}

.event-meta {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}

.event-meta.alternative {
  flex-direction: column;
  align-items: flex-start;
}

.event-meta-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.event-meta-value {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin-left: 4px;
  font-weight: 600;
}

.event-meta.alternative .event-meta-title,
.event-meta.alternative .event-meta-value {
  display: block;
}

.event-meta.alternative .event-meta-value {
  margin-top: 6px;
  white-space: pre-line;
  margin-left: 0;
}

@media screen and (max-width: 992px) {
  .ant-layout-sider {
      z-index: 10;
      position: fixed;
      height: 100%;
  }
}